.subbed-in {
    height: 100%;
    border-radius: 3px;
    background: black;
    display: inline-block;
    color: white;
    font-size: 15px;
}

.player-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    font-size: 14px;
    width: 10%;
    margin-right: 1%;
    height: 100%;
    display: inline-block;
    text-align: right;
}

.main {
    position: relative;
    width: 96%;
    margin: 0 2%;
    font-size: 0;
}

.player {
    margin-bottom: 3px;
    height: 20px;
}

.header {
    height: 20px;
}

.period-header {
    display: inline-block;
    height: 20px;
    /* border-left: 1px solid black; */
    font-size: 15px;
    vertical-align: top;
}

.scoreboard {
    text-align: center;
    height: 60px;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

.score {
    font-size: 50px;
    display: inline-block;
    vertical-align: top;
    padding: 0 10px;
}

.team-logo {
    height: 100%;
}

.period-line {
    width: 2px;
    background-color: grey;
    position: absolute;
    z-index: -1;
}

.middle-divisor {
    height: 2px;
    background-color: grey;
    position: absolute;
    width: 88%;
    left: 11%;
}

.team-divisor {
    height: 30px;
    width: 100%;
}

.score-chart {
    opacity: 0.6;
    position: absolute;
    width: 100%;
}

.score-bar {
    display: inline-block;
}

.boxscore {
    width: 90px;
    height: 100%;
    padding: 4px 6px;
    font-size: 12px;
    font-weight: 600;
    background: #eaeaea;
    border-right: 1px #F6F6F6 solid;
    display: inline-block;
    cursor: pointer;
    opacity: 0.8;
    vertical-align: top;
}

.boxscore:hover {
    opacity: 1;
}

.today-scores {
    display: inline-block;
    height: 40px;
    white-space: nowrap;
    max-width: calc(100% - 42px);
    overflow-x: scroll;
    overflow-y: hidden;
}

.today-scores::-webkit-scrollbar {
    display: none;
}

.boxscore-score {
    float: right;
}

.loading {
    font-size: 40px;
    text-align: center;
}

@keyframes blink {
    0% {
      opacity: .2;
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: .2;
    }
}

.loading span {
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.loading span:nth-child(2) {
    animation-delay: .2s;
}

.loading span:nth-child(3) {
    animation-delay: .4s;
}

.change-day {
    height: 40px;
    width: 20px;
    display: inline-block;
    font-size: 12px;
    background: #eaeaea;
    border-right: 1px #F6F6F6 solid;
    text-align: center;
    cursor: pointer;
    vertical-align: top;
    line-height: 40px;
}