.subbed-in {
    height: 100%;
    border-radius: 3px;
    background: black;
    display: inline-block;
    color: white;
    font-size: 15px;
}

.player-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    font-size: 14px;
    width: 10%;
    margin-right: 1%;
    height: 100%;
    display: inline-block;
    text-align: right;
}

.main {
    position: relative;
    width: 96%;
    margin: 0 2%;
    font-size: 0;
}

.player {
    margin-bottom: 3px;
    height: 20px;
}

.header {
    height: 20px;
}

.period-header {
    display: inline-block;
    height: 20px;
    /* border-left: 1px solid black; */
    font-size: 15px;
    vertical-align: top;
}

.scoreboard {
    text-align: center;
    height: 170px;
    margin-bottom: 5px;
}

.score {
    font-size: 70px;
    display: inline-block;
    vertical-align: top;
    margin-top: 45px;
}

@media screen and (max-width: 600px) {
    .scoreboard {
        height: 90px;
        margin-bottom: 5px;
    }
    .score {
        margin-top: 25px;
        font-size: 35px;
    }
}

.team-logo {
    height: 100%;
}

.period-line {
    width: 2px;
    background-color: grey;
    position: absolute;
    z-index: -1;
}

.middle-divisor {
    height: 2px;
    background-color: grey;
    position: absolute;
    width: 88%;
    left: 11%;
}

.team-divisor {
    height: 30px;
    width: 100%;
}

.score-chart {
    opacity: 0.6;
    position: absolute;
    width: 100%;
}

.score-bar {
    display: inline-block;
}

.boxscore {
    width: 90px;
    height: 100%;
    padding: 4px 6px;
    font-size: 12px;
    font-weight: 600;
    background: #eaeaea;
    border-right: 1px #F6F6F6 solid;
    display: inline-block;
    cursor: pointer;
    opacity: 0.8;
}

.boxscore:hover {
    opacity: 1;
}

.today-scores {
    height: 50px;
    white-space: nowrap;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}

.today-scores::-webkit-scrollbar {
    display: none;
}

.boxscore-score {
    float: right;
}

.loading {
    font-size: 40px;
    text-align: center;
}