<div class="main">

    <div class="change-day" (click)="currentDate.setDate(currentDate.getDate() - 1); generateBoxScores();">
        ◀
    </div>
    <div class="today-scores">
        <ng-container *ngFor="let game of games">
            <div class="{{game.final ? 'boxscore-active' : 'boxscore-inactive'}}" (click)="changeGame(game)">
                <span>{{game.homeTeam}}</span><span class="boxscore-score">{{game.homeScore}}</span><br>
                <span>{{game.visitingTeam}}</span><span class="boxscore-score">{{game.visitingScore}}</span>
            </div>
        </ng-container>
    </div>
    <div class="change-day" (click)="currentDate.setDate(currentDate.getDate() + 1);generateBoxScores();">
        ▶
    </div>

    <p *ngIf="!gameSelected" class="select-prompt">
        No games have finished today.<br>Select one from a previous date.
    </p>
    <p *ngIf="!chartReady && gameSelected" class="loading">
        <span>.</span><span>.</span><span>.</span>
    </p>

    <div *ngIf="chartReady">

        <div class="scoreboard">
            <img class="team-logo" [src]="homeTeam ? './assets/logos/' + homeTeam + '.svg' : ''">
            <span class="score">{{homeScore}}</span>
            <span class="score">{{visitingScore}}</span>
            <img class="team-logo" [src]="visitingTeam ? './assets/logos/' + visitingTeam + '.svg': ''">
        </div>

        <div class="header">
            <span class="player-name"></span>
            <ng-container *ngFor="let period of allPeriods">
                <span
                    *ngIf="period <= 4"
                    class="period-header"
                    [style.width.%]="86/totalGameTime*(12*60)">
                        Q{{period}}
                </span>
                <span
                    *ngIf="period > 4"
                    class="period-header"
                    [style.width.%]="86/totalGameTime*(5*60)"
                >
                    OT{{period-4}}
                </span>
            </ng-container>
        </div>

        <div class="data">

            <div
                *ngFor="let period of allPeriods"
                class="period-line"
                [style.height.px]="(playerIds[0].length+playerIds[1].length)*23 + 27"
                [style.left.%]="11 + 86/totalGameTime*periodStartTime(period)">
            </div>
            <div class="middle-divisor" [style.margin-top.px]="23*playerIds[0].length + 15"></div>
            <div class="score-axis" [style.height.px]="(playerIds[0].length+playerIds[1].length)*23 + 27">
                <div *ngFor="let mark of [-25,-20,-15,-10,-5,0,5,10,15,20,25]"
                    class="scale-mark"
                    [style.margin-top.px]="23*playerIds[0].length + 15 - 7*mark">
                    <span>-</span>{{mark}}
                </div>
            </div>

            <div
                class="score-chart"
                [style.margin-top.px]="23*playerIds[0].length - chartHeight*7 + 15">
                <div class="player-name"></div>
                <ng-container *ngFor="let score of scores; let i = index">
                    <span
                        [class]="'score-bar' + ' ' + ( score.differential > 0 ? homeTeam : visitingTeam)"
                        [style.height.px]="score.differential < 0 ? score.differential*-7 : score.differential*7"
                        [style.width.%]="i+1 !== scores.length ? (scores[i+1].time-score.time)/totalGameTime*86 : 0"
                        [style.margin-bottom.px]="score.differential < 0 ? score.differential*7 : 0"
                        [style.border-radius]="score.differential < 0 ? '0px 0px 2px 2px' : '2px 2px 0px 0px'"
                    >
                </span>
                </ng-container>
            </div>
            <div *ngFor="let teamIds of playerIds">
                <div *ngFor="let playerId of teamIds" class="player">
                    <span class="player-name">
                        {{players[playerId].firstName + ' ' + players[playerId].lastName}}
                    </span>
                    <ng-container *ngFor="let rotation of players[playerId].rotations">
                        <span class="subbed-in"
                            [style.width.%]="(rotation.endTime - rotation.startTime)/totalGameTime*86"
                            [style.visibility]="rotation.inGame ? 'visible' : 'hidden'">
                        </span>
                    </ng-container>
                </div>
                <div *ngIf="playerIds.indexOf(teamIds)===0" class="team-divisor"></div>
            </div>
        </div>

        <div class="header">
            <span class="player-name"></span>
            <ng-container *ngFor="let period of allPeriods">
                <span
                    *ngIf="period <= 4"
                    class="period-header"
                    [style.width.%]="86/totalGameTime*(12*60)">
                        Q{{period}}
                </span>
                <span
                    *ngIf="period > 4"
                    class="period-header"
                    [style.width.%]="86/totalGameTime*(5*60)"
                >
                    OT{{period-4}}
                </span>
            </ng-container>
        </div>
    </div>
</div>
